{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    {{ page.header }}
    <nav id="navbar" class="navbar">
      {{ page.nav_main }}
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
<!-- End Header -->

<main role="main" >
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {%
  set sidebar_first_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}

  {%
  set sidebar_second_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}

  {%
  set content_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-lg-6' : ((page.sidebar_first or page.sidebar_second) ? 'col-12 col-lg-9' : 'col-12' )
  %}

  <div class="container">
    {% if page.highlited %}
      {{ page.highlited }}
    {% endif %}

    {% if page.breadcrumb %}
      {{ page.breadcrumb }}
    {% endif %}
    <div class="row g-0">
      {% if page.sidebar_first %}
        <div class="order-2 order-lg-1 {{ sidebar_first_classes }}">
          {{ page.sidebar_first }}
        </div>
      {% endif %}
      <div class="order-1 order-lg-2 {{ content_classes }}">
        {{ page.content }}
      </div>
      {% if page.sidebar_second %}
        <div class="order-3 {{ sidebar_second_classes }}">
          {{ page.sidebar_second }}
        </div>
      {% endif %}
    </div>
  </div>

</main>

<!-- ======= Footer ======= -->
<footer id="footer">
  {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Galactic Dreamscape</h3>
              <p>
              {{ footer_address }}</br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                {% if show_social_icon %}
                  {% if twitter_url %} <a href="{{twitter_url}}" class="twitter"><i class="bx bxl-twitter"></i></a>{% endif %}
                  {% if facebook_url %} <a href="{{facebook_url}}" class="facebook"><i class="bx bxl-facebook"></i></a>{% endif %}
                  {% if instagram_url %} <a href="{{instagram_url}}" class="instagram"><i class="bx bxl-instagram"></i></a>{% endif %}
                  {% if youtube_url %} <a href="{{youtube_url}}" class="google-plus"><i class="bx bxl-youtube"></i></a>{% endif %}
                  {% if linkedin_url %} <a href="{{linkedin_url}}" class="linkedin"><i class="bx bxl-linkedin"></i></a>{% endif %}
                {% endif %}
              </div>
              {{ page.footer_first }}
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            {{ page.footer_second }}
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            {{ page.footer_third }}
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            {{ page.footer_fourth }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if footer_copyright or footer_copyright_two %}
    <div class="container">
      <div class="copyright">
        {{ footer_copyright }}
      </div>
      <div class="credits">
        {{ footer_copyright_two }}
      </div>
    </div>
  {% endif %}
</footer>
<!-- End Footer -->
