{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

<!-- ======= Header Section ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    {{ page.header }}
    <nav id="navbar" class="navbar">
      {{ page.nav_main }}
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
<!-- End Header Section -->

<!-- ======= Slider Section ======= -->
{% if slideshow_display %}
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">
          {% for key, option in slider %}
            {% if loop.index == '1'  %}
                {% set class = 'active' %}
              {% else %}
                {% set class = '' %}
            {% endif %}
            <div class="carousel-item {{ class }}" style="background-image: url('{{ option.image }}')">
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2 class="animate__animated animate__fadeInDown">{{ option.slide_title }}</h2>
                  <p class="animate__animated animate__fadeInUp">{{ option.slide_desc }}</p>
                  <div>
                    <a href="{{ option.slide_url }}" class="btn-get-started animate__animated animate__fadeInUp scrollto">{{ option.slide_url_text }}</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</section>
{% endif %}
<!-- End Slider Section -->

<!-- ======= Main Section ======= -->
<main role="main" >
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {%
  set sidebar_first_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}

  {%
  set sidebar_second_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3'
  %}

  {%
  set content_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-lg-6' : ((page.sidebar_first or page.sidebar_second) ? 'col-12 col-lg-9' : 'col-12' )
  %}

  <div class="container">
    {% if page.highlited %}
      {{ page.highlited }}
    {% endif %}

    {% if page.breadcrumb %}
      {{ page.breadcrumb }}
    {% endif %}
    <div class="row g-0">
      {% if page.sidebar_first %}
        <div class="order-2 order-lg-1 {{ sidebar_first_classes }}">
          {{ page.sidebar_first }}
        </div>
      {% endif %}
      <div class="order-1 order-lg-2 {{ content_classes }}">
        {{ page.content }}
      </div>
      {% if page.sidebar_second %}
        <div class="order-3 {{ sidebar_second_classes }}">
          {{ page.sidebar_second }}
        </div>
      {% endif %}
    </div>
  </div>

</main>
<!-- End Main Section -->

<!-- ======= Footer ======= -->
<footer id="footer">
  {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              {% if footer_title %} <h3>{{ footer_title }}</h3>{% endif %}
              <p>
              {% if footer_address %}{{ footer_address }}{% endif %}</br>
                {% if phone_number %}<strong>Phone:</strong> {{ phone_number }}{% endif %}<br>
                {% if footer_email %}<strong>Email:</strong> {{ footer_email }}{% endif %}<br>
              </p>
              <div class="social-links mt-3">
                {% if show_social_icon %}
                  {% if twitter_url %} <a href="{{twitter_url}}" class="twitter">
                    <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="23px" height="23px"><path d="M 2.3671875 3 L 9.4628906 13.140625 L 2.7402344 21 L 5.3808594 21 L 10.644531 14.830078 L 14.960938 21 L 21.871094 21 L 14.449219 10.375 L 20.740234 3 L 18.140625 3 L 13.271484 8.6875 L 9.2988281 3 L 2.3671875 3 z M 6.2070312 5 L 8.2558594 5 L 18.033203 19 L 16.001953 19 L 6.2070312 5 z"/></svg>
                  </a>{% endif %}
                  {% if facebook_url %} <a href="{{facebook_url}}" class="facebook">
                    <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="24px" height="24px">    <path d="M15,3C8.373,3,3,8.373,3,15c0,6.016,4.432,10.984,10.206,11.852V18.18h-2.969v-3.154h2.969v-2.099c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L19.73,18.18h-3.106v8.697 C22.481,26.083,27,21.075,27,15C27,8.373,21.627,3,15,3z"/></svg>
                  </a>{% endif %}
                  {% if instagram_url %} <a href="{{instagram_url}}" class="instagram">
                    <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">    <path d="M 8 3 C 5.243 3 3 5.243 3 8 L 3 16 C 3 18.757 5.243 21 8 21 L 16 21 C 18.757 21 21 18.757 21 16 L 21 8 C 21 5.243 18.757 3 16 3 L 8 3 z M 8 5 L 16 5 C 17.654 5 19 6.346 19 8 L 19 16 C 19 17.654 17.654 19 16 19 L 8 19 C 6.346 19 5 17.654 5 16 L 5 8 C 5 6.346 6.346 5 8 5 z M 17 6 A 1 1 0 0 0 16 7 A 1 1 0 0 0 17 8 A 1 1 0 0 0 18 7 A 1 1 0 0 0 17 6 z M 12 7 C 9.243 7 7 9.243 7 12 C 7 14.757 9.243 17 12 17 C 14.757 17 17 14.757 17 12 C 17 9.243 14.757 7 12 7 z M 12 9 C 13.654 9 15 10.346 15 12 C 15 13.654 13.654 15 12 15 C 10.346 15 9 13.654 9 12 C 9 10.346 10.346 9 12 9 z"/></svg>
                  </a>{% endif %}
                  {% if youtube_url %} <a href="{{youtube_url}}" class="google-plus">
                    <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="25px" height="25px"><path d="M42.042,13.856C43.773,15.577,44,18.311,44,25s-0.227,9.423-1.958,11.144C40.311,37.864,38.508,38,25,38	S9.689,37.864,7.958,36.144S6,31.689,6,25s0.227-9.423,1.958-11.144S11.492,12,25,12S40.311,12.136,42.042,13.856z M21.76,30.933	l9.717-5.63L21.76,19.76V30.933z"/></svg>
                  </a>{% endif %}
                  {% if linkedin_url %} <a href="{{linkedin_url}}" class="linkedin">
                    <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="23px" height="23px">    <path d="M9,25H4V10h5V25z M6.501,8C5.118,8,4,6.879,4,5.499S5.12,3,6.501,3C7.879,3,9,4.121,9,5.499C9,6.879,7.879,8,6.501,8z M27,25h-4.807v-7.3c0-1.741-0.033-3.98-2.499-3.98c-2.503,0-2.888,1.896-2.888,3.854V25H12V9.989h4.614v2.051h0.065 c0.642-1.18,2.211-2.424,4.551-2.424c4.87,0,5.77,3.109,5.77,7.151C27,16.767,27,25,27,25z"/></svg>
                  </a>{% endif %}
                {% endif %}
              </div>
              {{ page.footer_first }}
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            {{ page.footer_second }}
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            {{ page.footer_third }}
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            {{ page.footer_fourth }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if footer_copyright or footer_copyright_two %}
    <div class="container">
      <div class="copyright">
        {{ footer_copyright }}
      </div>
      <div class="credits">
        {{ footer_copyright_two }}
      </div>
    </div>
  {% endif %}
</footer>

{% if scroller %}
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center active">
    <i class="bi bi-arrow-up-short"></i>
  </a>
{% endif %}
<!-- End Footer -->
